body {
  background-image: url('./assets/fondo.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  color: #fff;
  font-family: 'Arial', sans-serif;
}
#root {
  height: 100vh;  
  overflow:auto;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}